.newBook-Button {
    display: flex; 
    margin: 0 auto;
}

.form-container {
    display: flex; 
    flex-direction: column; 
}

.input-Book {
    margin: 0 auto;
    margin-top: 20px;
}

.toggle-Read {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto; 
    margin-top: 20px;
}

.table-container {
    font-family: arial, sans-serif; 
    border-collapse: collapse; 
    width: 15%; 
    margin: 0 auto;
    margin-top: 30px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

#myLib {
    display: flex; 
    justify-content: center;
    margin: 0 auto;
    margin-top: 20px;
    padding-top: 50px;
    font-family:'Times New Roman', Times, serif;
    font-size: 45px; 
}
  